# Dependencies
node_modules/
.pnpm-store/

# Compiled output
/connector/dist/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Testing
/coverage

# Temp files
.tmp/
.temp/ 